.AccountLogoUnLogged {
  background-color: #48e;
  border-radius: 0.5em;
  padding: 10px;
  user-select: none;
  color: #fff;
  transition: all 0.1s;
}

.AccountLogoUnLogged:hover {
  background-color: #59f;
}

.AccountLogoLogged {
  background-color: #06d206;
  border-radius: 0.5em;
  padding: 10px;
  user-select: none;
  color: #fff;
  transition: all 0.1s;
}

.AccountLogoLogged:hover {
  background-color: #1bec1b;
}
