.GenericButton-blue,
.GenericButton-red,
.GenericButton-green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: small;
  color: #fff;
  padding: 10px;
  border-radius: 0.5em;
  user-select: none;
  transition: all 0.1s;
}

.GenericButton-blue {
  background-color: #48e;
}

.GenericButton-blue:hover {
  background-color: #59f;
}

.GenericButton-red {
  background-color: #cb0d20;
}

.GenericButton-red:hover {
  background-color: #f12f43;
}

.GenericButton-green {
  background-color: #0ac623;
}

.GenericButton-green:hover {
  background-color: #2adc19;
}
