.SinginWindowBG {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0005;
  backdrop-filter: blur(5px);
}

.SinginWindow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ddd;
  border-radius: 0.3em;
  box-shadow: 0 0 30px 0 #0005;
  padding: 30px;
  width: 280px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 25px;
  width: 100%;
}
.titleContainer span {
  color: #000;
  user-select: none;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer input {
  width: 100%;
  color: #000;
  padding: 10px;
  margin: 5px 0;
  border-radius: 0.5em;
}

.inputContainer input::placeholder {
  font-size: x-small;
}

.warnContainer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.warnContainer span {
  max-width: 100%;
  color: #f00;
  font-size: xx-small;
  overflow-wrap: break-word;
}

.buttonContainer {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeWindowButtonContainer {
  width: 100%;
  text-align: center;
  color: #48e;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
}

.changeWindowButton:hover {
  color: #59f;
}
